.App {
  background-color: #759CDD;
  background-attachment: scroll;
  background-size: contain;;
  text-align: center;
  color: #282c34;
  margin: auto;
}

.title{
  color: #212C3I;
  font-size: 80px;
  font-family: Bradley Hand, cursive;
  text-decoration: underline;
}

.App-header{
  background-color: #0e2e88; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}