.game-customizations {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 120px;
  left: 430px;
  width: 600px;
  height: 100px;
  /* background-color: rgba(137, 43, 226, 0.455); */
}


/* .Toggle-game-state {

  font-family: Bradley Hand, cursive;
  background-color: #759CDD;
  height: 100%;
} */

.game-state-buttons {
  display: flex;
  position: relative;
  top: -10px;
  left: 527px;
  width: 400px;
  height: 61px;
  /* background-color: rgba(226, 43, 83, 0.455); */
}

.Play-existing-game {
  margin-right: 35px;
}

.Button{
  color: blue;
  font-family: Bradley Hand, cursive;
}

.Input-select-size, .Input-select-letter, .Input-select-length{
  width: 150px;
  height: 65px;
  border-radius: 10px;
  background-color: rgba(36, 25, 240, 0.563);
}
