.Toggle-game-state {

  text-align: center;
  margin-top: -50pt;
  margin-bottom: 25pt;
  font-family: Bradley Hand, cursive;
  background-color: #759CDD;
  height: 100%;
}


.Play-existing-game {
  position: absolute;
  text-align: center;
  margin-top: 25;
  margin-left: 300pt;
  margin-bottom: 2pt;
  font-family: Bradley Hand, cursive;
  height: 100%;
}
/* 
.pencil{
  position: fixed;
  top: 0;
  left: 0;
} */

.Button{
  color: blue;
  font-family: Bradley Hand, cursive;
}

.Input-select-size {
  margin-top: -28.4pt;
  margin-left: 230pt;
  margin-bottom: 25pt;
  font-family: Bradley Hand, cursive;
}

.Input-select-letter {
  margin-top: -66.4pt;
  margin-left: 400pt;
  margin-bottom: 25pt;
  font-family: Bradley Hand, cursive;
}

.Input-select-length {
  margin-top: -66.4pt;
  margin-left: 600pt;
  margin-bottom: 25pt;
  font-family: Bradley Hand, cursive;
}